.App {
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: inline-flex;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px dashed grey;
}

.cell:active {
  animation: highlight 1000ms ease-out;
}

@keyframes highlight {
  0% {
    background-color: yellow;
    border: 1px solid yellow;
  }
  100% {
    background-color: white;
    border: 1px dashed grey;
  }
}

.cell:empty {
  animation: reset 1000ms ease-out;
}

@keyframes reset {
  0% {
    background-color: green;
  }
  100% {
    background-color: white;
  }
}
